
/* header */
.app-default, body {
    background-color: #ffffff;
}

.app-header {
    transition: none;
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
    box-shadow: var(--bs-app-header-base-box-shadow);
    border-bottom: var(--bs-app-header-base-border-bottom);
}

.icon-header{
    color: #0E41C1 !important;
    font-size: 26px !important;
}

.btn-crown{
    font-size: 24px !important;
    color: #fff !important;
}
.black{
    color: #000;
}
.btn-grad {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5  51%, #00d2ff  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    transition: all .3s ease-in-out;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }
/* end header */

/* sidebar */
.app-sidebar{
    height: 41.5rem !important;
}
div#kt_aside_menu_wrapper{
    padding: 0px !important;
    margin-top: 1px !important;
}
